In [1]:
import numpy as np
import pandas as pd

In [3]:
d = pd.Series(range(20))
d

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
dtype: int64

In [4]:
d.cumsum()

0       0
1       1
2       3
3       6
4      10
5      15
6      21
7      28
8      36
9      45
10     55
11     66
12     78
13     91
14    105
15    120
16    136
17    153
18    171
19    190
dtype: int64

### Series:代标签的一维数组

In [7]:
b = pd.Series([9,8,7,6],index=['a','b','c','d'])
b

a    9
b    8
c    7
d    6
dtype: int64

In [9]:
# 创建：列表 标量 字典 ndarray

In [11]:
b.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
b.values

array([9, 8, 7, 6])

In [14]:
b['b']

8

In [15]:
b[1]

8

In [20]:
b[[1]]

b    8
dtype: int64

In [18]:
b[['b','a']]

b    8
a    9
dtype: int64

In [19]:
b[:3]

a    9
b    8
c    7
dtype: int64

In [21]:
b[b>b.median()]

a    9
b    8
dtype: int64

In [24]:
np.exp(b)

a    8103.083928
b    2980.957987
c    1096.633158
d     403.428793
dtype: float64

In [26]:
'c' in b

True

In [27]:
9 in b

False

In [28]:
0 in b

False

In [29]:
b.get('f',100)

100

In [32]:
a = pd.Series([7,7],['e','b'])
a

e    7
b    7
dtype: int64

In [33]:
a+b

a     NaN
b    15.0
c     NaN
d     NaN
e     NaN
dtype: float64

In [36]:
b.name = 'Series对象'
b.index.name = '索引列'
b

索引列
a    9
b    8
c    7
d    6
Name: Series对象, dtype: int64

In [37]:
b['a'] = 100
b

索引列
a    100
b      8
c      7
d      6
Name: Series对象, dtype: int64

### DataFrame

In [38]:
d = pd.DataFrame(np.arange(10).reshape(2,5))
d

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

In [39]:
d[0]

0    0
1    5
Name: 0, dtype: int64

In [42]:
d._ixs(0)

0    0
1    1
2    2
3    3
4    4
Name: 0, dtype: int64

In [43]:
d[0][0]

0

### 增加、重排、删除

In [2]:
d1 = {'城市':['北京','上海','广州'],
      '环比':[121,542,343],
      '同比':[132,354,354]}
df = pd.DataFrame(d1,index=['ix1','ix2','ix3'])
df

     城市   环比   同比
ix1  北京  121  132
ix2  上海  542  354
ix3  广州  343  354

In [3]:
df.reindex(index=['ix3','ix2','ix1'],columns=['城市','同比','环比'])

     城市   同比   环比
ix3  广州  354  343
ix2  上海  354  542
ix1  北京  132  121

In [4]:
df.reindex(columns=df.columns.insert(3,'新增'),fill_value=200)

     城市   环比   同比   新增
ix1  北京  121  132  200
ix2  上海  542  354  200
ix3  广州  343  354  200

In [5]:
# Index 对象的操作：append diff intersection union delete insert

In [7]:
df.drop('同比',axis=1)

     城市   环比
ix1  北京  121
ix2  上海  542
ix3  广州  343

### 运算

In [8]:
a = pd.DataFrame(np.arange(12).reshape(3,4))
a

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [9]:
b = pd.DataFrame(np.arange(20).reshape(4,5))
b

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [10]:
a+b

      0     1     2     3   4
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [12]:
b.add(a,fill_value=100)
# add sub mul div

       0      1      2      3      4
0    0.0    2.0    4.0    6.0  104.0
1    9.0   11.0   13.0   15.0  109.0
2   18.0   20.0   22.0   24.0  114.0
3  115.0  116.0  117.0  118.0  119.0

In [14]:
c = pd.Series(np.arange(4))
c

0    0
1    1
2    2
3    3
dtype: int64

In [15]:
c-10

0   -10
1    -9
2    -8
3    -7
dtype: int64

In [16]:
b-c

      0     1     2     3   4
0   0.0   0.0   0.0   0.0 NaN
1   5.0   5.0   5.0   5.0 NaN
2  10.0  10.0  10.0  10.0 NaN
3  15.0  15.0  15.0  15.0 NaN

In [17]:
b.sub(c,axis=0)

    0   1   2   3   4
0   0   1   2   3   4
1   4   5   6   7   8
2   8   9  10  11  12
3  12  13  14  15  16

In [19]:
d = pd.DataFrame(np.arange(12,0,-1).reshape(3,4))
d

    0   1   2  3
0  12  11  10  9
1   8   7   6  5
2   4   3   2  1

In [20]:
a>d

       0      1      2      3
0  False  False  False  False
1  False  False  False   True
2   True   True   True   True

In [21]:
a>c

       0      1      2      3
0  False  False  False  False
1   True   True   True   True
2   True   True   True   True