In [1]:
import numpy as np
import pandas as pd

### 排序

In [2]:
b = pd.DataFrame(np.arange(20).reshape(4,5),index=['c','b','d','a'])
b

    0   1   2   3   4
c   0   1   2   3   4
b   5   6   7   8   9
d  10  11  12  13  14
a  15  16  17  18  19

In [4]:
b.sort_index()

    0   1   2   3   4
a  15  16  17  18  19
b   5   6   7   8   9
c   0   1   2   3   4
d  10  11  12  13  14

In [5]:
b.sort_index(axis=1,ascending=False)

    4   3   2   1   0
c   4   3   2   1   0
b   9   8   7   6   5
d  14  13  12  11  10
a  19  18  17  16  15

In [7]:
b.sort_values(by=2,ascending=False)

    0   1   2   3   4
a  15  16  17  18  19
d  10  11  12  13  14
b   5   6   7   8   9
c   0   1   2   3   4

### 统计分析

In [8]:
# sum count mean median var std min max
# argmin argmax idxmin idxmax
# discribe
a = pd.Series([9,8,7,6])
a.describe()

count    4.000000
mean     7.500000
std      1.290994
min      6.000000
25%      6.750000
50%      7.500000
75%      8.250000
max      9.000000
dtype: float64

In [9]:
b.describe()

               0          1          2          3          4
count   4.000000   4.000000   4.000000   4.000000   4.000000
mean    7.500000   8.500000   9.500000  10.500000  11.500000
std     6.454972   6.454972   6.454972   6.454972   6.454972
min     0.000000   1.000000   2.000000   3.000000   4.000000
25%     3.750000   4.750000   5.750000   6.750000   7.750000
50%     7.500000   8.500000   9.500000  10.500000  11.500000
75%    11.250000  12.250000  13.250000  14.250000  15.250000
max    15.000000  16.000000  17.000000  18.000000  19.000000

In [10]:
# 累计计算cumsum cumprod cummax cummin
b.cumsum()

    0   1   2   3   4
c   0   1   2   3   4
b   5   7   9  11  13
d  15  18  21  24  27
a  30  34  38  42  46

In [12]:
# 滚动计算 rolling(w)
b.rolling(2).sum()

      0     1     2     3     4
c   NaN   NaN   NaN   NaN   NaN
b   5.0   7.0   9.0  11.0  13.0
d  15.0  17.0  19.0  21.0  23.0
a  25.0  27.0  29.0  31.0  33.0

In [ ]:
# 相关分析  cov corr